{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About us</h2>
        </br>
        <div class="row container">
            <div class="text-center">
            <h1 style="font-family: Georgia; font-size: 40px;">Your Journey of Healing Begins Here!</h1>
            <h1 style="font-family: 'Lora', serif; font-size: 20px;">Here’s a Little Bit About WHAT WE DO</h1></div>
            <br></br>
            <div class="text-center">
                <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px;">   
            The Crystal Palace is a one-stop destination for all your affordable Spiritual and Holistic Healing requirements💫.Walk through the doors at The Crystal Palace towards Spiritual Living 📿 and you’ll feel how healing and learning generate the positive energy 🧿 you’ve been seeking ⚡.The Crystal Palace has been offering the community a wide selection of tools that can help you on your journey 🍃🌈.</h4></div>
            <div class="mt-5 text-center">
                <h1 style="font-family: Georgia; font-size: 20px;">~Sania Dmello</h1>
                <h1 style="font-family: Georgia; font-size: 20px;"> Sally Dmello</h1>
                <h1 style="font-family: Georgia; font-size: 20px;"> Daisy Dabre</h1>
            </div>
        </div>
    </div>    
    <br></br>
{% endblock main-content %}