{% extends 'app/base.html' %}
{% load static %}
{% block title %}ByColour{% endblock title %}

{% block main-content %}
<div class="container">
    <h2 class="my-3  text-danger text-center">By Colour</h2>
    <div class="row container"> 
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery cbg">
          <a href="{% url 'category' 'RD' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/15.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Red</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'MC' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/47.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Multicolour</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'TQ' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/45.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Turquoise</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  
    <br></br>
    <div class="row container"> 
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery cbg">
          <a href="{% url 'category' 'BL' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/46.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-1 braclets">Blue</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'PK' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/22.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Pink</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'PL' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/8b.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Purple</p>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
<br></br>
{% endblock main-content %}