{% extends 'app/base.html' %}
{% load static %}
{% block title %}ByCrystals{% endblock title %}

{% block main-content %}
<div class="container">
    <h2 class="my-3  text-danger text-center">By Crystals</h2>
    <div class="row container"> 
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery cbg">
          <a href="{% url 'category' 'AT' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/9a.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Amazonite</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'JP' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/3c.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Jasper</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'ML' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/2b.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Malachite</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  
    <br></br>
    <div class="row container"> 
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery cbg">
          <a href="{% url 'category' 'OP' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/6a.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-1 braclets">Opalite</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'RQ' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/7a.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Rose Quartz</p>
            </div>
          </a>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="0.6s" style="animation duration:1; animation-delay:0.6s; animation-name:none;">
        <div class ="as jewellery dbg">
          <a href="{% url 'category' 'RH' %}">
            <div class="abb text-center ">
             <img src="{%static 'app/images/product/8b.jpg'%}"
             class="img-responsive center-block" alt="">
             <p class="fs-4 my-2 braclets">Rhondonite</p>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
<br></br>
{% endblock main-content %}