{% extends 'app/base.html' %}
{% load static %}
{% block title %}Choose{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <div class="text-center">
        <h2 style="font-family: Georgia;">How to Choose your Crystals</h2></div>
        </br>
        <div class="row">
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/59.jpg'%}">
                </div>
            </div>
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/60.jpg'%}">
                </div>
            </div>
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/61.jpg'%}">
                </div>
            </div>
          </div>
        <div class="row container">
            <div class="text-center">
            <!--<h1 style="font-family: Georgia; font-size: 40px;">Your Journey of Healing Begins Here!</h1>-->
            <h1 style="font-family: 'Lora', serif; font-size: 20px;">There are a few ways you can choose a crystal, whether it’s your first or just the latest to add to your collection.</h1></div>
            <br></br>
            <div class="text-center">
                <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px;">   
                    <li>Choose a crystal that you feel drawn to. This is one of our favourite ways because it all comes down to your intuition! 
                    Whether you’re in the room with crystals or browsing online, pick one that catches your eye. It might have a message or purpose for you that you don’t even know you need yet!</li>
                    
                    <li>Choose a crystal based on what you are struggling with. This struggle might be something physical or on a more energetic level. 
                    For example, rose quartz is a good stone if you are going through a time of upheaval or intense stress, whereas amethyst is thought to aid with headaches and nervous tension.</li>
                    
                    <li>Choose a crystal based on what you want more of. For example, if you want more money, choose a crystal that is about abundance and finances. If it’s love you want, opt for a stone that is all about attracting love.</li>
                    </h4></div>
            <!--<div class="mt-5 text-center">
                <h1 style="font-family: Georgia; font-size: 20px;">~Sania Dmello</h1>
                <h1 style="font-family: Georgia; font-size: 20px;"> Sally Dmello</h1>
                <h1 style="font-family: Georgia; font-size: 20px;"> Daisy Dabre</h1>
            </div>-->
        </div>
    </div>    
<br></br>
{% endblock main-content %}