{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">Contact Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">Address: Vasai</p>
            <p class="fs-4 text-center">contact: 9xxxx 1xxxx</p>
            <p class="fs-4 text-center">Instagram Id: @thecrystalpalace</p>
        </div>
    </div>

    

<br><br>
<br><br>
<br><br>

{% endblock main-content %}
