{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-handling">Well Done!</h3>
            <p>An Email has been sent with instructions to reset your Password!!</p>
            <div class="text-left">
                <h1 style="font-family: Georgia; font-size: 20px;">Please Check Email.. !</h1></div>
        </div>
    </div>
</div>

{% endblock main-content %}