{% extends 'app/base.html' %}
{% load static %}
{% block title %}WhyCrystal{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <div class="text-center">
        <h2 style="font-family: Georgia;">Why use healing crystals?</h2></div>
        </br>
        <!--<div class="row">
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/2b.jpg'%}">
                </div>
            </div>
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/2b.jpg'%}">
                </div>
            </div>
            <div class="column">
                <div class="baa text-center ">
                    <img src="{%static 'app/images/product/2b.jpg'%}">
                </div>
            </div>
        </div>-->
        <div class="row container">
            <!--<div class="text-center">
            <h1 style="font-family: 'Lora', serif; font-size: 20px;">There are a few ways you can choose a crystal, whether it’s your first or just the latest to add to your collection.</h1></div>-->
            <br></br>
            <div class="text-left">
                <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px;">   
                    <li>There are a number of different types of crystals out there. Some people believe they have healing abilities for the mind, body, and soul.</li>
                    <li>In fact, many ancient cultures — including Egypt, Greece, and China — believed that crystals have healing properties.</li>

                    <li>Some people claim that crystals promote the flow of good energy and help rid your body and mind of negative energy for physical and emotional benefits.</li>

                    <li>However, it’s important to know that there’s almost no scientific evidence to support the use of crystals.</li>
                    </h4></div>
        </div>
    </div>    
<br></br>
{% endblock main-content %}












