{% extends 'app/base.html' %}
{% load static %}
{% block title %}WhyCrystal{% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <div class="text-center">
        <h2 style="font-family: Georgia;">Get your jewellery Customize here</h2></div>
        </br>
        
        <div class="row container">
            <br></br>
            <div class="text-center">
                <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px;">   
                    Get connected to customise your jewellery.
                </h4>
            </div>
            <div class="text-center">
                <h4 style="font-family: 'Crimson Pro', serif; font-size: 26px;">   
                    Click here 👇🏻.
                </h4>
                <a href="https://wa.me/9112788663"> <img src="{%static "app\images\homepage\wp1.png" %}"width="40" height="40"/>
            </div>
            <br>
        </div>
    </div>    
<br></br>
{% endblock main-content %}












